@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'GoogleFont';
  src: url('../../public/Poppins-SemiBold.ttf') format('truetype');
}
:root {
  overflow-x: hidden;
  font-family: 'GoogleFont' !important;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
* ::selection{
  background-color: hsla(0,0%,60%) !important;
  color: black !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/* src/components/card.css */
.card {
  position: relative;
  background-color: white;
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 300px;
  margin: 20px;
  top:-50px

}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.card-price {
  font-size: 20px;
  margin-bottom: 20px;
}

.card-features {
  list-style-type: none;
  padding: 0;
}

.card-features li {
  margin: 10px 0;
}

.card-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card-button:hover {
  background-color: #0056b3;
}


.pricing-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px;
}

.price-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 20px;
}

.price-header h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.price-header p {
  font-size: 1.2rem;
  color: #6c757d;
}

.grad-text{
  background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}